#wrapper {
    background-color: #ff4081;
    display: grid;
    grid-template-columns: 150px 5fr;
    grid-template-rows: 150px 5vh 100vh 10vh;
    grid-template-areas: 
    " log hd "
    " . nav"
    " mn mn"
    "ft ft"
    ;
    margin: 10px;
}

.nowrap {
white-space: nowrap;
}

h1 {
    font-family: "Ribeye", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 500%;
    display: inline-block;
}

body{
    background-color: #ff4081;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    grid-area: hd;
    margin-left: 10px;
    align-content: center;
    border-radius: 10px;
}

main {
    background-color: rgb(255, 255, 255);
    grid-area: mn;
    border-radius: 10px;
}

#logga {
    grid-area: log;
    background-color: blanchedalmond;
}

nav {
    grid-area: nav;
    background-color: rgb(255, 218, 205);
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    justify-content: space-around;
}

footer {
    background-color: blanchedalmond;
    grid-area: ft;
    margin-top: 10px;
    border-radius: 10px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 100,
  'wght' 2000,
  'GRAD' 0,
  'opsz' 24;
  display: inline-block;
  size: 500%;
  color: #ff4081;
}

a {
    text-decoration: none;
    font-family: "Ribeye", serif;
    font-weight: 400;
    color: black;
}

