#wrapper {
    color: blueviolet;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 10vh 5vh 100vh;
    grid-template-areas: 
    " log hd "
    " ' nav"
    " mn mn"
    
    ;

}

header {
color: aqua;
grid-area: hd;
}

main {
    color: brown;
    grid-area: mn;
}

#logga {
    grid-area: log;
    color: blanchedalmond;
}

nav {
    grid-area: nav;
    color: coral;
}
