#wrapper {
    background-color: #ff4081;
    display: grid;
    grid-template-columns: 150px 5fr;
    grid-template-rows: 150px 5vh 100vh 10vh;
    grid-template-areas: 
    " log hd "
    " . nav"
    " mn mn"
    "ft ft"
    ;
    margin: 10px;
    
}

body{
    background-color: #ff4081;
}

header {
background-color: aqua;
grid-area: hd;
}

main {
    background-color: brown;
    grid-area: mn;
}

#logga {
    grid-area: log;
    background-color: blanchedalmond;
}

nav {
    grid-area: nav;
    background-color: coral;
}

footer {
    background-color: darkslategray;
    grid-area: ft;
}